


/* ----------------- 사업영역 ----------------- */
.service-main main {
    padding-bottom: 0;
}







/* ----- 사업영역 main ----- */
.service-main .visual-wrap {
    display: block;
}
.service-main .main-bg {
    background: url(../img/service-main.png) no-repeat center / cover;
    width: 100%;
    height: 100%;
    padding-top: 88px;
    padding : 88px 0 110px;
    min-height: 100vh;
}
.service-main .main-bg .inner {
    display: flex;
    justify-content: space-between;
}
.service-main .main-bg .inner .headline {
    margin-top: 164px;
    line-height: 60px;
    font-size: 54px;
    font-weight: bold;
    color: #fff;
}
.service-main .service-list {
    display: grid;
    grid-template-columns: repeat(2,334px);
    grid-template-rows: repeat(8,auto);
    grid-template-areas: 
    'area1 .'
    'area1 area2'
    'area1 area2'
    'area3 area2'
    'area3 area4'
    'area3 area4'
    '. area4'
    ;
    row-gap: 50px;
    column-gap: 40px;
}
.service-main .service-item {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
}
.service-main .service-item a { 
    position: relative;
    padding: 55px 35px;
    display: block;
    width: 100%;
    height: 100%;
}
.service-main .service-item .list-bg {
    opacity: 0.5;
    position: absolute;
    right: -100px;
    top: -60px;
}
.service-main .service-item:nth-child(1) {
    grid-area: area1;
}
.service-main .service-item:nth-child(2) {
    grid-area: area2;
}
.service-main .service-item:nth-child(3) {
    grid-area: area3;
}
.service-main .service-item:nth-child(4) {
    grid-area: area4;
}
.service-main .service-item .header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0046bf;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}
.service-main .service-item .cont-area {
    margin-top: 88px;
    color: #000;
    transition: 0.3s;
}
.service-main .service-item .cont-area p {
    line-height: 35px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 18px;
}
.service-main .service-item .cont-area span {
    line-height: 28px;
    font-size: 18px;
}
.service-main .service-item .cont-area span em {
    font-weight: bold;
    color: #0046bf;
}
.service-main .service-item:hover .header-area {
    color: #fff;
}
.service-main .service-item:hover .cont-area {
    color: #fff;
}
.service-main .service-item:hover .cont-area span em {
    color: #53ffdb;
}
.service-main .service-item:hover {
    background: linear-gradient(to right bottom, #2a90e8, #0047b5);
}
.service-main .service-item:hover .list-bg {
    opacity: 0.1;
}











/* ----- 사업영역 list ----- */
.service-list .cont-wrap {
    margin-top: 30px;
}
.service-list .cont-wrap > div {
    text-align: center;
}
.service-list .cont-wrap .tab-list {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 80px;
}
.service-list .cont-wrap .tab-item {
    display: inline-block;
    padding: 0 9px 16px;
    font-size: 20px;
    line-height: 25px;
}
.service-list .cont-wrap .tab-item a {
    display: block;
    width: 100%;
}
.service-list .cont-wrap .tab-item.active {
    border-bottom: 2px solid #0046bf;
    font-weight: bold;
    color: #0046bf;
}
.service-list .cont-wrap .cont {
    margin-top: 68px;
}
.service-list .cont-wrap .cont h2 {
    line-height: 65px;
    font-size: 54px;
    font-weight: bold;
}
.service-list .cont-wrap .cont > p {
    font-size: 26px;
    line-height: 38px;
    width: 80%;
    margin: 14px auto 0;
}
.service-list .cont-wrap .cont .cont-main {
    margin: 55px 0 60px;
    display: inline-block;
}
.service-list .cont-wrap .cont .cont-main.cont-pc {
    display: inline-block;
}
.service-list .cont-wrap .cont .cont-main.cont-mo {
    display: none;
}

.service-list .cont-wrap .cont .cont-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.service-list .cont-wrap .cont .cont-item {
    padding: 50px 40px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    text-align: left;
    min-height: 303px;
    min-width: 384px;
}
.service-list .cont-wrap .cont .cont-item .group-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.service-list .cont-wrap .cont .cont-item .group-header p {
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
}
.service-list .cont-wrap .cont .cont-item .group-cont {
    margin-top: 35px;
    padding-left: 10px;
}
.service-list .cont-wrap .cont .cont-item .group-cont li {
    font-size: 18px;
    line-height: 28px;
    text-indent: -7px;
}
.service-list .cont-wrap .cont .cont-item .group-cont li+li {
    margin-top: 10px;
}
.service-list .cont-wrap .cont .cont-item .group-cont li::before {
    content: "-";
    display: inline-block;
    margin-right: 7px;
}












/* cont03 & cont04 */
.service-list .cont-wrap .cont.diacont .container {
    position: relative;
    margin-top: 76px;
}
.service-list .cont-wrap .cont.diacont .container .cont-main {
    margin: 0;
}
.service-list .cont-wrap .cont.diacont .container .pc-wrap {
    display: block;
}
.service-list .cont-wrap .cont.diacont .container .mo-wrap {
    display: none;
}
.service-list .cont-wrap .cont.diacont .cont-area {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.service-list .cont-wrap .cont.diacont .cont-box {
    position: absolute;
    font-weight: bold;
    width: 40%;
    margin: 10px 0;
}
.service-list .cont-wrap .cont.diacont .cont-box p {
    font-weight: bold;
    line-height: 35px;
    font-size: 26px;
    color: #000;
    margin: 21px 0 7px;
}
.service-list .cont-wrap .cont.diacont .cont-box span {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}







/* cont03 RIS(E) 특화교육 */
.service-list .cont-wrap .cont.cont03 .cont-box:nth-child(1) {
    top: 209px;
    left: 0;
    border-top: 2px solid #4682B4;
    text-align: left;
}
.service-list .cont-wrap .cont.cont03 .cont-box:nth-child(2) {
    top: 38px;
    right: 125px;
    border-top: 2px solid #1E90FF;
    text-align: right;
}
.service-list .cont-wrap .cont.cont03 .cont-box:nth-child(3) {
    bottom: 195px;
    left: 46px;
    border-top: 2px solid #20B2AA;
    text-align: left;
}
.service-list .cont-wrap .cont.cont03 .cont-box:nth-child(4) {
    border-top: 2px solid #40E0D0;
    top: 210px;
    right: 0;
    text-align: right;
}
.service-list .cont-wrap .cont.cont03 .cont-box:nth-child(5) {
    border-top: 2px solid #1E90FF;
    bottom: 170px;
    right: 45px;
    text-align: right;
}






/* cont04 맞춤형 콘텐츠 개발 */
.service-list .cont-wrap .cont.cont04 .cont-box:nth-child(1) {
    top: 53px;
    left: 0;
    border-top: 2px solid #40E0D0;
    text-align: left;
}
.service-list .cont-wrap .cont.cont04 .cont-box:nth-child(2) {
    top: 53px;
    right: 0;
    border-top: 2px solid #1E90FF;
    text-align: right;
}
.service-list .cont-wrap .cont.cont04 .cont-box:nth-child(3) {
    border-top: 2px solid #1E90FF;
    top: 453px;
    left: 0;
    text-align: left;
}
.service-list .cont-wrap .cont.cont04 .cont-box:nth-child(4) {
    border-top: 2px solid #40E0D0;
    top: 453px;
    right: 0;
    text-align: right;
}
.service-list .cont-wrap .cont.cont04 .cont-box:nth-child(1) span {
    display: block;
    text-indent: -7px;
    padding-left: 10px;
}
.service-list .cont-wrap .cont.cont04 .cont-box:nth-child(1) span::before {
    content: "-";
    display: inline-block;
    margin: 0 7px;
}
.service-list .cont-wrap .cont.cont04 .cont-box:nth-child(1) span+span  {
    margin-top: 13px;
}






















@media (max-width: 1199.9999px) {


    /* ----- 사업영역 main ----- */
    .service-main .main-bg .inner {
        flex-direction: column;
    }
    .service-main .service-list {
        display: grid;
        margin-top: 20px;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        'area1 area2'
        'area3 area4';
    }
    .service-main .main-bg .inner .headline {
        font-size: 32px;
        line-height: 42px;
        margin-top: 23px;
    }
    .service-main .service-item .cont-area {
        margin-top: 26px;
    }
    .service-main .service-item .cont-area p {
        font-size: 18px;
        line-height: 100%;
        margin-bottom: 8px;
    }
    .service-main .service-item .cont-area span {
        font-size: 14px;
        line-height: 20px;
    }
    .service-main .service-item .header-area {
        color: #000;
    }
    .service-main .service-item {
        border-radius: 10px;
    }
    .service-main .service-item a {
        padding: 30px 20px;
    }
    .service-main .service-item .list-bg {
        right: -100px;
        top: -90px;
    }



    /* ----- 사업영역 list ----- */
    .service-list .cont-wrap {
        margin-top: 30px;
    }
    .service-list .cont-wrap > div {
        text-align: center;
    }
    .service-list .cont-wrap .cont {
        margin-top: 40px;
    }
    
    .service-list .cont-wrap .tab-list {
        gap: 27px;
    }
    .service-list .cont-wrap .tab-item {
        flex-shrink: 0;
        font-size: 14px;
        line-height: 16px;
        padding: 0 5px 10px;
    }
    .service-list .cont-wrap .cont h2 {
        line-height: 16px;
        font-size: 22px;
    }
    .service-list .cont-wrap .cont > p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
    }
    .service-list .cont-wrap .cont .cont-main {
        margin: 30px 0 20px;
    }
    .service-list .cont-wrap .cont .cont-item {
        padding: 27px 20px;
        min-height: 175px;
        flex: 1;
        border-radius: 10px;
    }
    .service-list .cont-wrap .cont .cont-item .group-header img {
        width: 50px;
    }
    .service-list .cont-wrap .cont .cont-item .group-header p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 0;
    }
    .service-list .cont-wrap .cont .cont-item .group-cont {
        margin-top: 12px;
    }
    .service-list .cont-wrap .cont .cont-item .group-cont li {
        font-size: 14px;
        line-height: 20px;
    }



    /* cont03 & cont04 */
    .service-list .cont-wrap .cont.diacont .container {
        margin-top: 30px;
    }
    .service-list .cont-wrap .cont.diacont .container .pc-wrap {
        display: none;
    }
    .service-list .cont-wrap .cont.diacont .container .mo-wrap {
        display: block;
    }
    .service-list .cont-wrap .cont.diacont .cont-main.cont-pc {
        display: none;
    }
    .service-list .cont-wrap .cont.diacont .cont-main.cont-mo {
        display: inline-block;
        max-width: 400px;
        width: 100%;
    }


}









@media (max-width: 768.999px) {

    .service-main .service-list {
        display: flex;
        flex-direction: column;
    }
    .service-list .cont-wrap {
        padding-right: 0;
    }
    .service-list .cont-wrap .cont {
        padding-right: 20px;
    }
    .service-list .cont-wrap .cont > p br {
        display: none;
    }
    .service-list .cont-wrap .tab-list {
        justify-content: start;
        overflow-x: scroll;
        -ms-overflow-style:none; 
        scrollbar-width:none; 
    }
    .service-list .cont-wrap .tab-list::-webkit-scrollbar {
        display:none; 
    }
    .service-list .cont-wrap .cont .cont-main.cont-pc {
        display: none;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time {
        background: #F5F5F5;
        border-radius: 10px;
        width: 100%;
        padding: 17px 30px;
        height: 200px;
        display: inline-block;
        position: relative;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .center-line {
        position: absolute;
        top: 50%;
        left: 0;
        height: 4px;
        width: 100%;
        background: linear-gradient(to right, #C0F8E4, #9AC6F1, #0067E8);
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .center-circle-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .center-circle-wrap > img {
        height: 30px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .center-circle-wrap > img.cont-mo-01 {
        left: 0;
        margin-left: -10px;
        height: 40px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-02 {
        left: 25%;
        margin-top: 10px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-03 {
        left: 50%;
        margin-top: -5px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-04 {
        right: 0;
        margin-right: -10px;
        margin-top: 10px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .text {
        position: absolute;
        text-align: left;
        font-size: 14px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt01 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        height: 100%;
        margin-top: 20px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt01 p:nth-child(2) {
        margin-bottom: 20px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt02 {
        left: 25%;
        margin-left: 20px;
        bottom: 0;
        margin-bottom: 20px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt03 {
        left: 50%;
        margin-top: 20px;
        margin-left: 10%;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt04 {
        right: 0;
        bottom: 0;
        margin-bottom: 20px;
        text-align: right;
        color: #0046BF;
        font-weight: bold;
    }
    .service-list .cont-wrap .cont .cont-item {
        min-width: 100%;
        min-height: auto;
        width: 100%;
    }

    
    /* 취업교육 모바일 메인이미지 텍스트 */
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt01.ser02 {
        margin-top: -3px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt01.ser02 p:nth-child(2) {
        margin-bottom: -6px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt02.ser02 {
        margin-bottom: -3px;
    }
    .service-list .cont-wrap .cont .cont-main.cont-mo-time .cont-mo-inner .txt03.ser02 {
        margin-top: 3px;
    }




}